#social-buttons button {
color: white;
} 

.btn-twitter {
background-color: #00acee;
border-color: #009ad5;
} 

.btn-facebook {
background-color: #4868ac;
border-color: #314776;
} 

.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26;
}

.jumbotron {
min-height: 600px;
background-image: url('http://s4.favim.com/610/140420/background-blue-galaxy-great-Favim.com-1688426.jpg');
background-size: cover;
background-attachment: fixed;
}

#mission {
	background-color: rgba(32,35,41,0.9);
	font-color: #ddd;
	padding-bottom: 40px;
}

.text-center {
text-align: center;
}

